.touch-img {
  width: 111px;
  height: 142px;
  padding-bottom: 10px;
  position: absolute;
  top: 1623px;
  left: 49%;
  animation-name: change-scale-touch;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  z-index: 3;
  margin-top: 30px;
}

@keyframes change-scale-touch {
  0% {
    scale: 100%;
  }

  50% {
    scale: 70%;
  }

  100% {
    scale: 100%;
  }
}
